.main-nav__item__sub-menu-wrapper
  i.main-nav__item__sub-menu-close
  ul.main-nav__item__sub-menu
    li.main-nav__item__sub-menu__item
      span.main-nav__item__sub-menu__item__title Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum

  ul.main-nav__item__sub-menu
    li.main-nav__item__sub-menu__item
      span.main-nav__item__sub-menu__item__title Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum

  ul.main-nav__item__sub-menu
    li.main-nav__item__sub-menu__item
      span.main-nav__item__sub-menu__item__title Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
      
  ul.main-nav__item__sub-menu
    li.main-nav__item__sub-menu__item
      span.main-nav__item__sub-menu__item__title Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum
    li.main-nav__item__sub-menu__item
      a.main-nav__item__sub-menu__item__link(href='#') Lorem ipsum