.top-header
    .container
      .top-header-inner
        span.top-header__welcome Le lien entre les îles. Te natiraa o te mau motu
        .top-header__navs
          ul.top-header__nav-list
            li.top-header__nav-item
              a.top-header__nav-item__link(href='#') Nous contacter
            li.top-header__nav-item
              a.top-header__nav-item__link(href='#')  Fret
            li.top-header__nav-item
              a.top-header__nav-item__link(href='#') Aide / Help
          .top-header__search
            input.top-header__search__input(type='text' placeholder='Rechercher')
            button.fas.fa-search.top-header__search__button
          a.top-header__user(href='#')
            span.fas.fa-user.top-header__user__icon
            span.top-header__user__text Programme de fidélité