include ../../mixins/mixin-input
include ../../mixins/mixin-select
include ../../mixins/mixin-table-cell

section.fret-section.fret-contact-info.js-form-step.step-4
    .container
      .section-inner
        .white-block.fret-block-with-header
          h2.fret-header
            span Résumé
          .fret-block-with-header-inner
            
                