.magazines-filter {
  position: relative;
  z-index: 99;
  padding: 40px 0;
  background: $white;

  &-inner {
    @include bp(desktop) {
      padding: 0 15px;
    }
  }

  &-main {
    display: flex;
    padding: 30px;
    background: $title-color;
    color: $white;

    @include bp(mob) {
      flex-direction: column;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  &__form {
    display: flex;
    flex-grow: 2;

    @include bp(mob) {
      flex-direction: column;
    }
  }

  &__fields {
    display: flex;
    flex-grow: 2;

    @include bp(mob) {
      flex-wrap: wrap;
    }

    > div {
      position: relative;
      margin-right: 5px;
      padding-right: 5px;

      @include bp(mob) {
        width: 100%;
        margin: 3px 0;
        padding: 0;

        label {
          min-width: 30%;
        }

        input[type='text'] {
          flex-grow: 2;
          margin: 0;
        }
      }
      
      @include bp(desktop) {
        &:last-child::after {
          content: '';
          position: absolute;
          top: 50%;
          left: -3px;
          bottom: 5px;
          transform: translateY(-50%);
          width: 1px;
          height: 30px;
          background: $white;
        }
      }
      
      &:first-child,
      &:nth-child(4),
      &:last-child {
        flex-grow: 2;

        .input-item__input,
        .custom-select-wrapper {
          flex-grow: 2;
        }
      }
    }

    .custom-select {
      margin: 0 5px;
      padding-right: 10px;

      @include bp(mob) {
        margin: 3px 0;
        padding: 0;
      }
    }

    [name='magazine-number'] {
      width: 50px;
    }
  }

  .form-btn {
    background-color: $green;
    padding: 10px 15px;
    width: auto;

    @include bp(mob) {
      margin: 3px 0;
    }
  }
}