.breadcrumbs {
  padding: 20px;
  background: $title-color;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;

  &__link {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    position: relative;
    justify-content: center;
    color: $white;
    font-family: $ubuntu-medium;
    font-size: 18px;
  }

  &:last-child {
    .arrow-icon {
      display: none;
    }
  }

  &.active {
    .breadcrumb-item__link {
      color: $green;
    }
  }
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translateY(-50%);
  width: 15px;
  height: 1px;
  background: $white;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 2px;
    width: 1px;
    height: 7px;
    transform: rotate(-46deg);
    background: $white;
  }

  &::after {
    top: -1px;
    transform: rotate(46deg);
  }
}
