.tahiti-modal.cookie-modal
  .tahiti-modal-inner
    header.tahiti-modal__header
      h3.tahiti-modal__header__title CE SITE UTILISE DES COOKIES
      span.tahiti-modal__header__close-btn.tahiti-close-modal
    main.tahiti-modal__body
      p Air Tahiti utilise des cookies pour assurer le bon fonctionnement et la sécurité de nos sites. Ils nous permettent de vous proposer la meilleure expérience possible.
      
      p En cliquant sur Accepter, vous consentez à l'utilisation de ces cookies. Vous pouvez à tout moment modifier vos préférences.
      
      p Pour plus d'informations, veuillez consulter la page 
        a(href='#') Gestion des cookies.
    footer.tahiti-modal__footer
      .tahiti-modal__footer__buttons
        .col-lg-6.col-md-6.col-sm-6.tahiti-modal__footer__button
          a.button-with-icon.button-with-icon--dark(href='#') Modifier mes préférences de cookies
        .col-lg-6.col-md-6.col-sm-6.tahiti-modal__footer__button.tahiti-modal__footer__button--right
          a.form-btn.cookie-modal-accept Accepter