mixin passenger-info(opts, idx)
  .passenger-info-item
    label.booking-select.booking-select--passenger
      span.booking-select__text= idx + '*'
      select.booking-select__select(name='passenger-info-' + idx)
        each opt, index in opts
          option(value= index + 1)= opt