section.news-section
  .container
    h2.page-title
      i.page-title__icon.icon-tatoo-4
      span.page-title__text L'actualité Air Tahiti
    
    .tahiti-news
      .tahiti-news-inner
        .col-lg-8.col-md-8.tahiti-news-list.js-home-news
          .col-lg-6.col-md-6
            a.tahiti-news-item(href='#')
              .tahiti-news-item__img
                img(src='assets/images/old/image_05.jpg' alt='#')
              h6.tahiti-news-item__title Actu 1
              .tahiti-news-item__overlay
                span.__title Actu 1
                span.__description Cras non augue nisl. Sed quam leo, pulvinar sed tortor at, tincidunt lacinia libero.Integer viverra pharetra nisl, eu bibendum lorem viverra non. Praesent dapibus quis est eget cursus. Phasellus dolor nisi, placerat id urna quis, laoreet efficitur lectus.
                .__button
                  i.icon-triangle-right
                  span En savoir +
          .col-lg-6.col-md-6
            a.tahiti-news-item(href='#')
              .tahiti-news-item__img
                img(src='assets/images/old/image_06.jpg' alt='#')
              h6.tahiti-news-item__title Actu 2
              .tahiti-news-item__overlay
                span.__title Actu 2
                span.__description Cras non augue nisl. Sed quam leo, pulvinar sed tortor at, tincidunt lacinia libero.Integer viverra pharetra nisl, eu bibendum lorem viverra non. Praesent dapibus quis est eget cursus. Phasellus dolor nisi, placerat id urna quis, laoreet efficitur lectus.
                .__button
                  i.icon-triangle-right
                  span En savoir +
        .col-lg-4.col-md-4
          a.newsletter-item(href='#')
            .newsletter-item__img
              img(src='assets/images/old/icone_newsletter.png' alt='#')
            h6.newsletter-item__title Inscription newsletter

      .col-lg-8.col-md-7.favorite-destination-block
        .favorite-destination
          h3.page-title
            i.page-title__icon.icon-tatoo-5
            span.page-title__text Destination coup de coeur
          
          .favorite-destination-item
            img.favorite-destination-item__img(src='assets/images/old/image_07.jpg' alt='#')
            h6.favorite-destination-item__title Lorem ipsum dolor si amet
            span.favorite-destination-item__description Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
            .favorite-destination-item__buttons
              a.button-with-icon.button-with-icon--dark Voir l'offre

      .col-lg-4.col-md-5.magazine-onboard-block
        .magazine-onboard
          h3.page-title
            i.page-title__icon.icon-tatoo-6
            span.page-title__text Magazine de bord

          .magazine-onboard-item
            img.magazine-onboard-item__img(src='assets/images/old/image_08.jpg' alt='#')
            .magazine-onboard-item__icons
              a.icon-zoom(href='#')
              a.icon-download-pdf(href='#')
            .magazine-onboard-item__buttons 
              a.button-with-icon.button-with-icon--dark(href='#') Voir tous les numéros
          


