section.our-company-section
  .container
    h2.page-title
      i.page-title__icon.icon-tatoo-7
      span.page-title__text Notre compagnie
  a.our-company-item(href='#' alt='#')
    .our-company-item__img
      img(src='assets/images/old/image_11.jpg' alt='#')
      .our-company-item__overlay
    span.our-company-item__icon
      i.icon-video-player
    h3.our-company-item__title Titre de la vidéo
  a.our-company-item.our-company-item--network(href='#')
    img.our-company-item__img(src='assets/images/old/image_09.jpg' alt='#')
    .our-company-item__overlay
      .__button
        i.icon-triangle-right
        span Voir la carte
    .our-company-item__title Notre réseau

    