section.tahiti-offers-section
  .container
    h2.page-title
      i.page-title__icon.icon-tatoo-2
      span.page-title__text Les offres Air Tahiti
    
    .tahiti-offers
      .tahiti-offer-list.js-tahiti-offer
        //- #1
        .col-lg-4.col-md-4.tahiti-offer.tahiti-offer--red
          a.tahiti-offer-inner(href='#')
            .tahiti-offer__overlay
            .tahiti-offer__info
              .tahiti-offer__info__title Carte famille
              .tahiti-offer__info__type (Adulte)
              .tahiti-offer__info__subtitle Tahiti Huahine
              .tahiti-offer__info__description À partir de
              .tahiti-offer__info__value
                span.__text 8 742 F
                sup.__ttc TTC
            .tahiti-offer__image
              img(src='assets/images/old/offer3.png' alt='#')
            .tahiti-offer__button
              i.icon-triangle-right
              span Voir l'offre
        //- #2
        .col-lg-4.col-md-4.tahiti-offer.tahiti-offer--green
          a.tahiti-offer-inner(href='#')
            .tahiti-offer__overlay
            .tahiti-offer__info
              .tahiti-offer__info__title Carte famille
              .tahiti-offer__info__type (Enfant - 12 ans)
              .tahiti-offer__info__subtitle Tahiti Huahine
              .tahiti-offer__info__description À partir de
              .tahiti-offer__info__value
                span.__text 5 142 F
                sup.__ttc TTC
            .tahiti-offer__image
              img(src='assets/images/old/offer2.png' alt='#')
            .tahiti-offer__button
              i.icon-triangle-right
              span Voir l'offre
        //- #3
        .col-lg-4.col-md-4.tahiti-offer.tahiti-offer--blue
          a.tahiti-offer-inner(href='#')
            .tahiti-offer__overlay
            .tahiti-offer__info
              .tahiti-offer__info__title Excursion bleu
              .tahiti-offer__info__type 
              .tahiti-offer__info__subtitle Tahiti - Rangiroa - Tahiti
              .tahiti-offer__info__description À partir de
              .tahiti-offer__info__value
                span.__text 29 204 F
                sup.__ttc TTC
            .tahiti-offer__image
              img(src='assets/images/old/offer1.png' alt='#')
            .tahiti-offer__button
              i.icon-triangle-right
              span Voir l'offre

      .tahiti-offer-buttons
        a.button-with-icon.button-with-icon--dark(href='#') Voir toutes les offres 
