section.tahiti-offers-section.tahiti-offers-section--pic
  .container
    h2.page-title
      i.page-title__icon.icon-tatoo-3
      span.page-title__text Les offres Séjours dans les îles
      img.page-title__img(src='assets/images/old/image_10.jpg' alt='#')
    
    .tahiti-offers.tahiti-offers--pic
      .tahiti-offer-list.js-tahiti-offer-pic
        //- #1
        .col-lg-6.col-md-6.tahiti-offer-pic
          a.tahiti-offer-pic-inner(href='#')
            .tahiti-offer-pic__top
              img.__image(src='assets/images/old/image_03.jpg' alt='#')
              span.__complement
                span.__complement__icon.icon-tatoo-6
                span.__complement__text Séjour 1 île
              .__overlay
                .__overlay__description Cras non augue nisl. Sed quam leo, pulvinar sed tortor at, tincidunt lacinia libero. Integer viverra pharetra nisl, eu bibendum lorem viverra non.Praesent dapibus quis est eget cursus. Phasellus dolor nisi, placerat id urna quis, laoreet efficitur lectus.
                .tahiti-offer__button
                  i.icon-triangle-right
                  span Voir l'offre
            .tahiti-offer-pic__destination Archipel des australes
            h3.tahiti-offer-pic__title Séjour vol + 3 nuits à Rimatara
            .tahiti-offer-pic__with Avec demi-pension
            .tahiti-offer-pic__from À partir de
            .tahiti-offer-pic__price
              span 50 718 F/
              sup pers

        //- #2
        .col-lg-6.col-md-6.tahiti-offer-pic
          a.tahiti-offer-pic-inner(href='#')
            .tahiti-offer-pic__top
              img.__image(src='assets/images/old/image_04.jpg' alt='#')
              span.__complement
                span.__complement__icon.icon-tatoo-6
                span.__complement__text Promotions
              .__overlay
                .__overlay__description Cras non augue nisl. Sed quam leo, pulvinar sed tortor at, tincidunt lacinia libero. Integer viverra pharetra nisl, eu bibendum lorem viverra non.Praesent dapibus quis est eget cursus. Phasellus dolor nisi, placerat id urna quis, laoreet efficitur lectus.
                .tahiti-offer__button
                  i.icon-triangle-right
                  span Voir l'offre
            .tahiti-offer-pic__destination MOTEL VANILLE
            h3.tahiti-offer-pic__title Séjour vol + 1 nuit + transferts
            .tahiti-offer-pic__with 
            .tahiti-offer-pic__from À partir de
            .tahiti-offer-pic__price
              span 23 369 F/
              sup pers

      .tahiti-offer-buttons
        a.button-with-icon.button-with-icon--dark(href='#') Voir toutes les offres 
