doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  include ./head

  body.air-tahiti
    include ../components/header

    main.main.grey-big-pat-bg
      block content

    include ../components/footer

    include ./scripts
