.flight-list(id='flight-tables-modal')
  .flight-list-inner
    .flight-list__header
      button.js-close-flight-list

    .flight-list__table
      h6.flight-list__table__title Vols à la date souhaitée
      table
        thead
          tr
            td N° Vol
            td Jour de départ
            td Départ 
            td Arrivée
            td Période de validité
      .flight-list__table__comment
        span Nous n’avons trouvé aucun résultat correspondant à votre recherche.

    .flight-list__table
      h6.flight-list__table__title Vols les jours suivants
      table
        thead
          tr
            td N° Vol
            td Jour de départ
            td Départ 
            td Arrivée
            td Période de validité
        tbody
          tr
            td 0570
            td MAR 18/09/2018	
            td 06:30
            td 09:25
            td Except. 20/04 ; 04/05 :
          tr
            td 0588
            td MAR 18/09/2018	
            td 06:30
            td 09:25
            td Except. 20/04 ; 04/05 : 15, 22, 29/06 ; 06, 13, 20, 27/07
          tr
            td 0590
            td MAR 18/09/2018	
            td 06:30
            td 09:25
            td 
          tr
            td 0591
            td MAR 18/09/2018	
            td 06:30
            td 09:25
            td Except. 20/04 ; 04/05 :
          tr
            td 0592
            td MAR 18/09/2018	
            td 06:30
            td 09:25
            td 

    .flight-list__description
      h6.flight-list__description__heading Sed ut perspiciatis
      .flight-list__description__text
        span Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

      h6.flight-list__description__heading Sed ut perspiciatis
      .flight-list__description__text
        span Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae di
