mixin condition(title, description)
  .condition-item
    h5.condition-item__title= title
    .condition-item__description= description= description
    .condition-item__buttons
      a.button-with-icon.button-with-icon--dark En savoir +