extends tmpl/layout/layout.pug
include tmpl/pages/actus/mixin-actu-item
include tmpl/mixins/mixin-breadcrumbs

block content
  - var actuDescription = 'Sed ut perspiciatis unde omnis iste natus error sit perspiciatis unde omnis iste natus perspiciatis unde omnis iste natus error sit perspiciatis unde omnis iste natus...'

  section.page-title-section
    .container
      h2.page-title
        img.page-title__icon(src='assets/images/icons/triangle-double-circle-icon.png' alt='#')
        span.page-title__text Réserver un envoi de fret
  
  section.breadcrumbs-section
    - var bcItems = ['Coordonnées', 'Détails de l’envoi', 'Description des groupes de colis', 'Résumé']
    .container
      .section-inner
        +breadcrumbs(bcItems, 'js-bc-step bc-step-')

  form(id='fret-form')
    include tmpl/pages/fret/contact-information
    include tmpl/pages/fret/shipment-detail
    include tmpl/pages/fret/package-description
    include tmpl/pages/fret/tarif-estimate
    include tmpl/pages/fret/summary
  include tmpl/pages/fret/conditions
  