.main-footer__column
  h4.footer-list-title Informations légales
  ul.footer-list
    li.footer-list__item
      a.footer-list__item__link(href='#') Conditions générales
    li.footer-list__item
      a.footer-list__item__link(href='#') Sécurité et confidentialité
    li.footer-list__item
      a.footer-list__item__link(href='#') Mentions légales

  h4.footer-list-title
    a.footer-list-title__link(href='#') Plan du site
