.main-footer__column
  h4.footer-list-title A propos d'Air Tahiti
  ul.footer-list
    li.footer-list__item
      a.footer-list__item__link(href='#') Réseau
    li.footer-list__item
      a.footer-list__item__link(href='#') Flotte
    li.footer-list__item
      a.footer-list__item__link(href='#') Le lien entre les îles
    li.footer-list__item
      a.footer-list__item__link(href='#') Groupe Air Tahiti
    li.footer-list__item
      a.footer-list__item__link(href='#') Histoire d'Air Tahiti
    li.footer-list__item
      a.footer-list__item__link(href='#') Destinations
    li.footer-list__item
      a.footer-list__item__link(href='#') Actualités
    li.footer-list__item
      a.footer-list__item__link(href='#') Séjours dans les îles
    li.footer-list__item
      a.footer-list__item__link(href='#') Emplois