.main-footer__column
  h4.footer-list-title Réseaux sociaux
  .social-list
    a.social-item(href='#')
      i.fab.fa-facebook.social-item__icon
    a.social-item(href='#')
      i.fab.fa-instagram.social-item__icon
    a.social-item(href='#')
      i.fab.fa-youtube-square.social-item__icon

