.main-footer__column.main-footer__column--newsletter
  .newsletter
    h4.footer-list-title.newsletter__title Newsletter
    .newsletter__description
      span Recevez toutes les offres et actualités Air Tahiti
    .newsletter__buttons
      a.form-btn.newsletter__button S'inscrire
