.main-footer__column
  h4.footer-list-title Air Tahiti en images
  ul.footer-list
    li.footer-list__item
      a.footer-list__item__link(href='#') Air Tahiti Magazine
    li.footer-list__item
      a.footer-list__item__link(href='#') Photos
    li.footer-list__item
      a.footer-list__item__link(href='#') Vidéos

  h4.footer-list-title Nos filiales
  ul.footer-list
    li.footer-list__item
      a.footer-list__item__link(href='#') Air Archipel
    li.footer-list__item
      a.footer-list__item__link(href='#') FBO
