footer.main-footer
  section.white-block.main-bottom
    .container
      .main-bottom-inner
        img.main-bottom__logo(src='assets/images/logo.png' alt='')
      
  section
    .container
      .main-footer-inner
        .main-footer__columns
          include ./footer/column-1
          include ./footer/column-2
          include ./footer/column-3
          include ./footer/column-4
          include ./footer/column-5
          include ./footer/column-6
        .main-footer__copyright
          .main-footer__copyright-inner
            a.main-footer__copyright__link(href='#') Web design #Prox-i - Développement P.I.T.I.
        include ./footer/newsletter-form