section.categories-bar
  .container
    .categories-bar-inner
      ul.categories
        li.category-item
          a.category-item__link.category-item__link--active(href='#') Tout
        li.category-item
          a.category-item__link(href='#') Category 1
        li.category-item
          a.category-item__link(href='#') Category 2
        li.category-item
          a.category-item__link(href='#') Category 3
        li.category-item
          a.category-item__link(href='#') Emploi