.destination-text-block.bora-airport
  h6.destination-block__title L’aéroport de Bora Bora
  .block-intro
    span L'aéroport de Bora Bora se trouve sur un motu (motu Mute).
    br
    span Air Tahiti assure le transfert maritime de ses passagers entre l'aéroport et Vaitape, le village principal, par "Bora Bora Navette". La traversée dure 15 minutes environ. Le prix de la navette est inclus dans le prix de votre billet.
    br
    span A votre arrivée à l’aéroport de Bora Bora, nous vous remercions de récupérer vos bagages, avant votre embarquement à bord du bateau qui vous fera quitter le motu.
    br
    span "Bora Bora navette" quitte le quai de Vaitape 1h30 avant l’heure de départ de votre vol. Prévoyez un délai suffisant si vous empruntez la navette pour vous rendre à l’aéroport.
    br
    span Si vous vous rendez sur le motu de l'aéroport par vos propres moyens, vous devez être présent à l'aéroport 1h30 avant le décollage.
    br
    span Certains hébergements effectuent eux-mêmes le transport de leurs clients de/vers l’aéroport.
    br
    span Par ailleurs, lors du départ de Bora Bora, certains hôtels procèdent au pré acheminement des bagages de leurs clients. Les bagages sont alors transportés vers l'aéroport, indépendamment du passager. La responsabilité d’Air Tahiti est engagée uniquement à compter de l'enregistrement des bagages sur le vol.