.col-lg-5.col-md-6.col-sm-6.destination-column-right
  .destination-content__block.destination-video
    h6.destination-block__title Vidéos de Bora Bora
    .destination-video__slider
      .destination-slider
        .__item
          a.__item__link(href='#')
            img.__item__link__image(src='assets/images/old/image_11.jpg' alt='#')
        .__item
          a.__item__link(href='#')
            img.__item__link__image(src='assets/images/old/image_11.jpg' alt='#')
    .destination-video__buttons
      a.button-with-icon.button-with-icon--dark(href='#') Voir toutes les vidéos
  
  .destination-content__block.destination-magazine
    h6.destination-block__title Air Tahiti magazine
    .destination-magazine__info(href='#')
      img(src='assets/images/magazines/magazine-2.jpg' alt='#')
      .destination-magazine__info__overlay
        a.__icon.icon-zoom(href='#')
        a.__icon.icon-download-pdf(href='#')
    .destination-magazine__buttons
      a.button-with-icon.button-with-icon--dark(href='#') Voir tous les numéros