section.destination-block.usefull-information
  .container
    .usefull-information-inner
      //- DETAIL
      .usefull-information__detail
        h6.destination-block__title Informations pratiques
        .__item
          i.__item__icon.icon-population
          .__item__text
            span Population : 
            br
            span Environ 8930 habitants
        .__item
          i.__item__icon.icon-map
          .__item__text
            span Superficie : 38 km² 
            br
            span Tour de l'île : 32 km
            br
            span Distance depuis Tahiti : 270 km
        .__item
          i.__item__icon.icon-village
          .__item__text
            span Village principal : Vaitape
        .__item
          i.__item__icon.icon-population
          .__item__text
            span Durée de vol depuis Tahiti :
            br
            span 45 min en ATR (en vol direct)
      
      //- SLIDER
      .usefull-information__slider
        .destination-slider
          .__item
            img.__item__image(src='assets/images/destination/nature-1.jpg' alt='#')
          .__item
            img.__item__image(src='assets/images/destination/nature-1.jpg' alt='#')
      
      //- MAP
      .usefull-information__map
        img.usefull-information__map__image(src='assets/images/destination/map.jpg' alt='#')
